/*csslint ids: false, box-model: false*/


/*********************************************
GENERAL
**********************************************/


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */

.container {
    margin: 0 auto;
    max-width: 960px;
}


/* ============================================================
  SECTIONS
============================================================ */

section.module p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
}

section.module.parallax {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

section.module.parallax {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    font-weight: 700;
    line-height: 600px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

section.module.parallax-1 {
    background-image: url("../img/miami.jpg");
}

section.module.parallax-2 {
    background-image: url("../img/sunset.jpg");
}

section.module.parallax-3 {
    background-image: url("../img/moon.jpg");
}

@media all and (min-width: 600px) {
    section.module {
        font-size: 20px;
    }
    section.module p {
        font-size: 20px;
    }
    section.module.parallax {
        font-size: 96px;
    }
}

@media all and (min-width: 960px) {
    section.module.parallax {
        font-size: 160px;
    }
}

body {
    font-family: 'Megrim', sans-serif;
}

#wrapper {
    /*Margin is 0 for all 4 sides*/
    margin: 0 auto;
    /* max width is related to width. but instead od width, max-width (gives flexability)that it can be smaller for mobile devices/
    tablets*/
    max-width: 940px;
    /*values first one is top and bottom. second one is left and right*/
    padding: 0 5%;
}


/*our name and description*/

#logo {
    margin: 0;
    text-align: center;
    text-decoration: none;
}

.pPlaceholder {
    font-size: 30px;
    padding: 0;
}

a {
    color: dimgray;
    font-family: 'Megrim', sans-serif;
    font-size: 50px;
    padding: 30px;
    text-decoration: none;
}

img {
    max-width: 100%;
}


/*********************************************
ABOUT ME PAGE
**********************************************/

.profile-photo {
    display: block;
    height: 500px;
    /*    padding-left: 200px;*/
    /*    padding-top: 20px;*/
    /* padding-left: 80px;*/
    width: 500px;
}

.aboutp {
    background-color: #0A0A0A;
    color: azure;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    /*    opacity: 0.5%;*/
    padding: 5px 5px 5px 5px;
    text-align: right;
}

#titleh {
    color: azure;
    font-size: 40px;
    text-align: center;
}

#username {
    color: azure;
    font-size: 20px;
}


/*********************************************
CONTACT ME PAGE
**********************************************/

.contact-info a {
    /* by default it will always repeat , backfground images*/
    background-repeat: no-repeat;
    /*re-size the background img*/
    background-size: 20px 20px;
    display: block;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact-info .email a {
    background-image: url('../img/mail.png');
}

.contact-info .twitter a {
    background-image: url('../img/twitter.png');
}


/*********************************************
FOOTER
**********************************************/

#twitter,
#youtube,
#ig {
    clear: both;
    height: 256px;
    width: 256px;
}


/*********************************************
PAGE PORTFOLIO
**********************************************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: lightgray;
    color: #bdc3c7;
    float: left;
    width: 100%;
}

#gallery li a p {
    color: darkslategrey;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}


/*********************************************
COLORS
**********************************************/

.video {
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -9999;
}

header {
    background: black;
}

h1,
h2 {
    color: dimgray;
    /*1st value is for top. 2nd value is for the left and right and 3rd value is for the bottom
    margin: -5px 0 0;
    font-wieght: normal;
    */
}

#copyright {
    color: azure;
    text-align: center;
}


/*********************************************
NAVIGATION
**********************************************/

.navbar-default {
    background-color: black;
    border: 1px solid transparent;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 100px;
    padding-top: 5px;
    position: relative;
}

nav a:hover {
    background-color: #444;
    color: teal;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: underline;
}

nav {
    background-color: #232729;
}


/*Psuedo-Class*/

nav a {
    color: azure;
}

nav ul {
    list-style: none;
    margin: 0 19px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

.contact {
    background-color: rgba(0, 0, 0, 0.7);
    color: azure;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}


/*********************************************
MEDIA Querie
**********************************************/


/*TWO COLUM LAYOUT*/


/*has to be at least 480px for the code to work*/

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    /*THREE COLUM LAYOUT FOR PORTFOLIO PAGE*/
    #gallery li {
        margin: 20px 20px 20px 20px;
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    /*    ABOUT PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}